/* Blue variables */
$theme-color: black;
$text-color: purple;
$text-color-secondary: purple;
$text-grey: purple;
$divider: green;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #141f3e;
$heart: red;
