/* Blue variables */
$theme-color: black;
$text-color: #f8e0ff;
$text-color-secondary: #f8e0ff;
$text-grey: #f8e0ff;
$divider: green;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #141f3e;
$heart: red;
